@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
$light-gray: #DCDCDC;
$blackd: #2C2C2C;

body {
  margin: 0;
  padding: 0;
  color:$light-gray;
  font-family: 'Open Sans', sans-serif;
}
  

.Main{
  margin: 0px;
}