@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
.ride__container {
    height: 100%;
    background-color: #2C2C2C;
}

.ride__form {
    height: 80vh;
    padding: 10px 10px;
}

.ride__form-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ride__form > div {
    text-align: center;
    margin-top: 20px;
}

.ride__form-title {
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.ride__form-duration {
    color: white;
    margin-bottom: 10px;
}

.ride__form-grade {
    width: 50%;
    height: 55px;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid white ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 52px;
    cursor: pointer;
    p {
        margin: 0px;
    }
}

.ride__form-grade-selected {
    border: 1px solid #36B662;
}

.ride__form-button {
    color: white;
    background-color: #36B662;
    border: none;
    padding: 7px 12px;
    border-radius: 21px;
    outline:unset;
}

.ride__form-button:focus {
    outline: none;
}

