@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
.ride__container {
    height: 100%;
    background-color: #2C2C2C;
}

.ride__form {
    padding: 30px 10px;
}

.ride__form > div {
    text-align: center;
    margin-top: 20px;
}

.ride__form-title {
    font-family: sans-serif;
    color: white;
    text-align: center;
}

