@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
$light-gray: #DCDCDC;
$blackd: #2C2C2C;

.input__origin {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputRide {
    background-color: transparent;
    border-bottom: 2px solid $light-gray;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: $light-gray;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    width: 80%;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;

  }

  .input__origin > div > img {
    margin-right: 10px;
    margin-top: 29px;
    width: 30px;
}

